@media (width > 767px) {
    .icons {
        display: none;
    }
    .icons2 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
        gap: 35px;
        margin-left: -90px;
    }
    .footerdots {
        position: absolute;
        display: block;
        left: -2%;
        bottom: -40%;
    }
    header {
        width: 767px;
        position: relative;
    }
    .headericon {
       margin-left: -74%;
    }
    .mantablet {
        display: block;
        position: absolute;
        top: -8px;
        right: 0;
    }
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: none;
        background-color: #121725;
    }
    .maindiv {
        width: 635px;
        height: 509px;
        background-color: #121725;
        position: absolute;
        top: 20%;
        margin-right: 50px;
        margin-top: 133px;
    }
    h1 {
        width: 635px;
        height: 112px;
        color: #54E6AF;
        font-size: 48px;
        font-family: 'Chivo';
        font-weight: 400;
        text-transform: uppercase;
        line-height: 56px;
        text-align: left;
    }
    h1 span {
        color: white;
        font-size: 48px;
        font-family: 'Chivo';
        font-weight: 400;
        text-transform: uppercase;
    }
    .Uploadtxt {
        width: 445px;
        height: 84px;
        text-align: left;
        color: #C2CBE5;
        font-size: 18px;
        font-family: 'Chivo';
        font-weight: 400;
        line-height: 28px;
        margin-left: 0;
    }
    .emaildiv {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        margin-bottom: 30px;
        margin-left: 0;
    }
    .input {
        width: 427px;
        height: 56px;
        margin-left: 25px;
    }
    .requestbn {
        width: 162px;
        height: 46px;
        position: absolute;
        left: 46%;
    }
    .mandesktop {
        display: none;
    }
}


@media (width > 1440px) {
    .mantablet {
        display: none;
    }
    .mandesktop {
        display: block;
        position: absolute;
        right: 0;
        margin-top: 80px;
    }
    header {
        width: 1440px;
    }
    .headericon {
        position: absolute;
        left: 85%;
        margin-top: 45px;
    }
    .maindiv {
        width: 723px;
        height: 509px;
        left: 12%;
        top: 15%;
    }
    h1 {
        width: 665px;
        height: 124px;
        color: #54E6AF;
        font-size: 52px;
        font-family: 'Chivo';
        font-weight: 400;
        text-transform: uppercase;
        line-height: 62px;
        margin-right: 62px;
    }
    h1 span {
        color: white;
        font-size: 52px;
        font-family: 'Chivo';
        font-weight: 400;
        text-transform: uppercase;
    }
    .Uploadtxt {
        width: 445px;
        height: 84px;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        margin-right: 95px;
    }
    .emaildiv {
        margin-right: 90px;
        margin-bottom: -10px;
        margin-top: -2px;
    }
    .requestbn {
        left: 40%;
    }
    .icons2 {
        margin-right: 99px;
        margin-bottom: 17px;
    }
    .footerdots {
        bottom: -9%;
        left: 142%;
    }
}